---
db: postgres:///moz_dev
ext_db:
  moz: mysql2:///moz
tables:
  -
    name: forum_user
    table: user
    pk: userid
    linked:
      contact:
        fkey: user_id
        fields:
          homepage:
            kind: 1
            name: value
          icq:
            kind: 2
            name: value
          aim:
            kind: 3
            name: value
          yahoo:
            kind: 4
            name: value
          msn:
            kind: 5
            name: value
          skype:
            kind: 6
            name: value
    fields:
      userid:
        name: id
      username:
        name: name
      email:
        name: email
      usertitle:
        name: user_title
      password:
        name: password
      passworddate:
        name: password_on
        if_null:
          klass: Date
          method: new
          params:
            - 1970
            - 1
            - 1
      salt:
        name: salt
  -
    name: forum_forum
    table: forum
    pk: forumid
    defer:
      - parent_id
    fields:
      forumid:
        name: id
      title:
        name: title
      title_clean:
        name: title_clean
      description:
        name: description
      description_clean:
        name: description_clean
      parentid:
        name: parent_id
        check:
          with: -1
          set: null
      displayorder:
        name: position
  -
    name: forum_thread
    table: thread
    pk: threadid
    fields:
      threadid:
        name: id
      title:
        name: title
      forumid:
        name: forum_id
      open:
        name: open
        convertor: int_to_boolean
      visible:
        name: visible
        convertor: int_to_boolean
      sticky:
        name: sticky
        convertor: int_to_boolean
      dateline:
        name: created_at
        convertor: int_to_time
      lastpost:
        name: last_post_at
        convertor: int_to_time
      posterusername:
        name: poster_name
      postuserid:
        name: poster_id
        check:
          with: 0
          set: null
  -
    name: forum_post
    table: post
    pk: postid
    defer:
      - parent_id
    fields:
      postid:
        name: id
      threadid:
        name: thread_id
        check:
          with: 0
          set: null
      parentid:
        name: parent_id
        check:
          with: 0
          set: null
      username:
        name: user_name
      userid:
        name: user_id
        check:
          with: 0
          set: null
      title:
        name: title
      dateline:
        name: created_at
        convertor: int_to_time
      pagetext:
        name: text
      allowsmile:
        name: allow_smile
        convertor: int_to_boolean
      showsignature:
        name: allow_signature
        convertor: int_to_boolean
      ipaddress:
        name: ip_address
      visible:
        name: visible
        convertor: int_to_boolean
      attach:
        name: has_attach
        convertor: int_to_boolean
      reportthreadid:
        name: report_thread_id
        check:
          with: 0
          set: null
